{% extends "base.html" %}

{% block content %}

<h1 class="title">"2-Factor Authentication"</h1>

    <p>To set up 2-factor authentication under the account with email {{ email }},
    scan the following QR code with the Authy application on your Smartphone:</p>
    <p><img src="{{ qrcode(uri, box_size=5, border=5) }}" alt="QR Code"></p>
    <p>Once set up, please use your code on the <a href="{{ url_for('users.login') }}"><u>Login</u></a> page</p>
    <p>You will need to use this app to get a login code whenever you log in.</p>

{% endblock %}